# Created by https://www.toptal.com/developers/gitignore/api/$str
# Edit at https://www.toptal.com/developers/gitignore?templates=$str

#!! ERROR: $str is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/$str
